<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=poecldv20103712;AccountKey=9zxO44DA5eDZFx/IIwE6qC9mo+HzJOZDKrmgPyC0TxSQtuMZZ6Pf2V7TNekCAcHDe8sUsHTqIXks9DZgqQ9aaA==;EndpointSuffix=core.windows.net" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>